<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../static/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico">

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/templatemo.css">
    <link rel="stylesheet" href="../../static/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../static/css/fontawesome.min.css">
<!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

--><style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
</head>

<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none">jangu3384@gmail.com</a>
                    <a class="text-light text-decoration-none" href="https://github.com/goodchoi">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-github mx-2" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>

                    <a class="navbar-sm-brand text-light text-decoration-none" href="https://github.com/goodchoi">https://github.com/goodchoi</a>
                </div>
                <div>
                    <span class="tex-light">My Precious Fist Toy Project</span>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-success logo h1 align-self-center" href="../test/index.html">
                infbook
            </a>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../test/index.html">상품 등록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">상품 내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../shopping/shop.html">주문 내역</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="text-decoration-none">
                        <button class="btn fs-5 btn-outline-secondary">로그아웃</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-75 container py-4">
        <header class="pb-3 mb-4 border-bottom">
                <span class="fs-4 fw-bold">총 주문 내역</span>
        </header>

        <form class="row mb-3">

            <div class="row px-4  ">
                <div class="col-md-4 form-check ">
                    <label for="delivery" class="col-auto form-check-inline" >배송 상태</label>
                    <select id="delivery" class="col-auto fs-6 form-check-inline ">
                        <option >모두</option>
                        <option >배송 대기</option>
                        <option >배송중</option>
                        <option >배송완료</option>
                    </select>
                </div>
                <div class="col-md-4 form-check ">
                    <label for="orderdate" class="col-auto form-check-inline" >주문일자</label>
                    <select id="orderdate" class="col-auto fs-6 form-check-inline ">
                        <option >전체</option>
                        <option >최근 일주일</option>
                        <option >최근 한달 </option>
                        <option >최근 1년</option>
                    </select>
                </div>
                <div class="col-md-4 px-5 justify-content-end">
                    <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
            </div>
        </form>

        <div class="mb-4 rounded-3">
            <div>
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>주문자 id</th>
                        <th>주문가격</th>
                        <th>수량</th>
                        <th>주문일자</th>
                        <th>배송상태</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2</td>
                        <td>JPA BOOK1</td>
                        <td>10000</td>
                        <td>99</td>
                        <td>2022.06.03</td>
                        <td>배송 대기</td>
                        <td>
                            <a href="/items/2/edit" class="btn btn-primary" role="button">상세</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>JPA BOOK2</td>
                        <td>20000</td>
                        <td>98</td>
                        <td>2022.06.03</td>
                        <td>배송중</td>
                        <td>
                            <a href="/items/3/edit" class="btn btn-primary" role="button">상세</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>SPRING BOOK1</td>
                        <td>20000</td>
                        <td>197</td>
                        <td>2022.06.03</td>
                        <td>배송완료</td>
                        <td>
                            <a href="/items/9/edit" class="btn btn-primary" role="button">상세</a>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>SPRING BOOK1</td>
                        <td>40000</td>
                        <td>296</td>
                        <td>2022.06.03</td>
                        <td>배송완료</td>
                        <td>
                            <a href="/items/10/edit" class="btn btn-primary" role="button">상세</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div >
                <nav  aria-label="...">
                    <ul class="justify-content-md-center pagination">
                        <li class="page-item disabled">
                            <a class="page-link " href="#">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link a_general" href="#">1</a>
                        </li>
                        <li class="page-item " aria-current="page">
                            <a class="page-link a_active" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link a_general" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link a_general" href="#">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!--페이징 처리-->
            </div>
        </div>

    </div>
    <!-- Start Script -->
    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/templatemo.js"></script>
    <script src="../../static/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>