<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/adminlayout.html}">

<head>
    <title layout:fragment="title">상품 수정</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>

    <script>
        function setThumbnail(event) {
            var reader = new FileReader();

            reader.onload = function (event) {
                if (document.querySelector("#book_image")) {
                    document.querySelector("div#image_container").removeChild(document.querySelector("#book_image"))
                }
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.className = 'img'
                img.id = 'book_image'
                document.querySelector("div#image_container").appendChild(img)
                ;
            };

            reader.readAsDataURL(event.target.files[0]);
        }

        $(document).ready(function () {
            let val = $('#category').val()
            check_category(val);

            $('#category').on("change", function () {
                let val = $('#category').val()
                check_category(val)
                $('#subcategory').find('input').removeAttr('checked') //이전에 선택한 항목 초기화
                $('#selctFirst').attr('hidden', 'hidden')
                $('#subcategory').removeAttr('hidden')
                $('#subcategory').children('div').attr('hidden', 'hidden')
                $('#' + val).removeAttr('hidden')
            })
        });

        function check_category(val) {
            if (!val) {
                $('#subcategory').attr('hidden', 'hidden')
                $('#selctFirst').removeAttr('hidden')
            } else {
                $('#selctFirst').attr('hidden', 'hidden')
                $('#subcategory').removeAttr('hidden')
                $('#subcategory').children('div').attr('hidden', 'hidden')
                $('#' + val).removeAttr('hidden')
            }
        }
    </script>
</head>

<th:block layout:fragment="content">
    <div class="w-50 container py-4  ">
        <header class="pb-3 mb-4 border-bottom">
            <span class="fs-4 fw-bold">상품 수정</span>
        </header>

        <form class="form-control" th:object="${item}" th:action="@{'/admin/item/'+${id}+'/edit'}" method="post" enctype="multipart/form-data">
            <div class="form-control-plaintext mb-3">
                <div id="image_container" class="mb-2">
                    <img id = "book_image" th:src="|${@environment.getProperty('cloud.aws.s3.url')}${item.fileName}|" class="img">
                </div>
                <label for="cover">책 표지</label>
                <input type="file" class="form-control"
                       placeholder="이름을 입력하세요" id="cover" name="attachedImage" accept="image/*"
                       onchange="setThumbnail(event);">
                <input type="hidden" th:field="*{fileName}">
            </div>
            <div class="form-control-plaintext mb-3">
                <label th:for="name">상품명</label>
                <input type="text" class="form-control"
                       placeholder="이름을 입력하세요" th:field="*{name}" value="" disabled>
                <div th:if="${#fields.hasErrors('name')}">
                    <p class="error" th:text="${#fields.errors('name').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="category">상위 카테고리</label>
                <select class="form-control" id="category" th:field="*{categoryId}">
                    <option value="">=====상위 카테고리를 선택하세요=====</option>
                    <th:block th:each="category : ${categoryList}">
                        <option th:value="${category.id}" th:text="${category.name}"></option>
                    </th:block>

                </select>
                <div th:if="${#fields.hasErrors('categoryId')}">
                    <p class="error" th:text="${#fields.errors('categoryId').get(0)}"></p>
                </div>
            </div>
            <div class="form-control mb-3 ">
                <label>하위 카테고리</label>
                <div id="selctFirst">
                    <span class="fw-normal fs-6 text-danger"> 상위카테고리를 먼저 선택하세요</span>
                </div>
                <div id="subcategory" hidden="hidden">
                    <div th:each="category:${categoryList}" th:id="${category.id}" class="p-1 row">
                        <div th:each="subcategory:${category.children}" class="col-auto">
                            <input class="form-check-input" type="checkbox" th:id="${subcategory.id}+'sub'"
                                   name="subCategories"
                                   th:value="${subcategory.id}"
                                   th:field="*{subCategories}">
                            <label class="form-check-label" th:for="${subcategory.id}+'sub'"
                                   th:text="${subcategory.name}"></label>
                        </div>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('subCategories')}">
                    <p class="error" th:text="${#fields.errors('subCategories').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="publisher">출판사</label>
                <input type="text" class="form-control"
                       placeholder="출판사를 입력하세요" id="publisher" th:field="*{publisher}" value="" disabled>

                <div th:if="${#fields.hasErrors('publisher')}">
                    <p class="error" th:text="${#fields.errors('publisher').get(0)}"></p>
                </div>
            </div>

            <div class="form-control-plaintext mb-3">
                <label for="publicationDate">출간일</label>
                <input type="text" class="form-control"
                       placeholder="출간일을 입력하세요" id="publicationDate" th:field="*{publicationDate}" disabled>
                <div th:if="${#fields.hasErrors('publicationDate')}">
                    <p class="error" th:text="${#fields.errors('publicationDate').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="price">가격</label>
                <input type="number" class="form-control"
                       placeholder="가격을 입력하세요" id="price" th:field="*{price}">
                <div th:if="${#fields.hasErrors('price')}">
                    <p class="error" th:text="${#fields.errors('price').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="stockQuantity">수량</label>
                <input type="number" class="form-control" placeholder="수량을 입력하세요"
                       id="stockQuantity" th:field="*{stockQuantity}">
                <div th:if="${#fields.hasErrors('stockQuantity')}">
                    <p class="error" th:text="${#fields.errors('stockQuantity').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="pageNumber">쪽수</label>
                <input type="number" class="form-control" placeholder="쪽수를 입력하세요"
                       id="pageNumber" th:field="*{pageNumber}" disabled>
                <div th:if="${#fields.hasErrors('pageNumber')}">
                    <p class="error" th:text="${#fields.errors('pageNumber').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="author">저자</label>
                <input type="text" class="form-control"
                       placeholder="저자를 입력하세요" id="author" th:field="*{author}" disabled>
                <div th:if="${#fields.hasErrors('author')}">
                    <p class="error" th:text="${#fields.errors('author').get(0)}"></p>
                </div>
            </div>
            <div class="form-control-plaintext mb-3">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control"
                       placeholder="ISBN을 입력하세요" id="isbn" th:field="*{isbn}" disabled>
                <div th:if="${#fields.hasErrors('isbn')}">
                    <p class="error" th:text="${#fields.errors('isbn').get(0)}"></p>
                </div>
            </div>

            <div class="form-control-plaintext mb-3">
                <label for="index">목차</label>
                <textarea type="textarea" class="form-control"
                          placeholder="목차를 입력하세요" id="index" th:field="*{index}" rows="10" disabled>
                </textarea>
                <div th:if="${#fields.hasErrors('index')}">
                    <p class="error" th:text="${#fields.errors('index').get(0)}"></p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</th:block>

</html>