<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title layout:fragment="title">레이아웃 타이틀</title>
    <th:block layout:fragment="csrf"></th:block>
    <th:block th:replace="~{config/config.html::config}"></th:block>

</head>


<th:block th:replace="~{fragments/adminheader.html :: header}"></th:block>
<body>
<th:block layout:fragment="content"></th:block>
</body>
</html>