#Github action으로 넘겨받은 zip파일이 압축이 풀리고나서 어느파일을 어떤 파라미터로 실행하지 설정
files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH