/*
Custom Css
*/

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.hanna{
    font-family: 'Hanna', fantasy;
}

.font-bold {
    font-weight: bold;
}

.img {
    width: 140px;
    height: 190px;
    object-fit: cover;
}

.container_custom {
    margin-right: auto;
    margin-left: auto;
    width: 1450px;
}

.opacity {
    opacity: 0.5;
}

.img_list {
    width: 118px;
    height: 155px;
    object-fit: cover;
}
.img_big{
    width: 310px;
    height: 440px;
    object-fit: cover;
}

.img_small{
    width: 100px;
    height: 130px;
    object-fit: cover;
}

.pointer_cur{
    cursor: pointer;
}

.img_smaller{
    width: 80px;
    height: 106px;
    object-fit: cover;
}


.a_active {
    background-color: #5c636a;
    color: white;
}

.a_general {
    color: #444145;
}

.hover:hover {
    color: #56ae6c !important;
}

.selected {
    color: #56ae6c !important;
}

.bg_single {
    background-color : #bebebf;
}

.border_box {
    border: 1px solid #bebebf;
    border-radius: 10px;
}

.border_box2 {
    border: 1px solid gray;
    border-radius: 10px;
    height: 210px;
    background-color: white;
    width: 330px;
    text-align: center;
}

.cur {
    cursor: pointer;!important;
}

.error {
    color: #dc0a1f;
    border-color:#dc0a1f ;
    font-size: 11pt !important;
}


.success {
    color: #56ae6c;
    border-color:#dc0a1f ;
    font-size: 11pt !important;
}