<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <title layout:fragment="title">홈</title>
</head>

<section>
<th:block layout:fragment="content">

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-7 col-lg-5 order-lg-last">
                            <img style="width:750px;" src="/img/infbook.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>인프북</b> 오직 개발자를 위한</h1>
                                <h3 class="h2">북스토어 스프링 프로젝트</h3>
                                <p>
                                    인프북은 JPA, thymeleaf, SrpingBoot, SpringSecurity 를 학습한 내용을 바탕으로
                                    적용을 해보는 학습용 프로젝트입니다. 또한 AWS를 통한 배포를 경험하는 것이 목표입니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container-fluid py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="fw-bold">베스트 셀러</h1>
                <p class="fw-normal">
                    판매량을 기준으로 집계됩니다.
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center" style="width: 80%; margin: auto">
            <div class="col-md-2 p-5 mt-3" th:each="item:${bestSellers}">
                <img th:src="|/img/rank/rank${itemStat.count}.svg|" >
                <div class="mt-2" >
                    <a th:href="@{/item/{id}(id=${item.id})}">
<!--                        <img th:src="|/img/items/${item.fileName}|" class="img" alt="...">-->
                        <img th:src="|${@environment.getProperty('cloud.aws.s3.url')}${item.fileName}|" class="img border" alt="...">
                    </a>
                </div>
                <div class="text-center mt-3" style="width: 145px ">
                    <a th:href="@{/item/{id}(id=${item.id})}" class="h5 text-decoration-none fw-normal text-dark"
                       th:text="${item.name}">자바 ORM 표준 JPA 프로그래밍</a>
                    <p class="text-muted mt-4 fs-6">리뷰 (48)</p>
                </div>
            </div>

    </section>

</th:block>
</section>
</html>
