<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">


<head>
    <title layout:fragment="title">로그인</title>
</head>


<section>
    <th:block layout:fragment="content">
        <main class="form-signin ">
            <div class="mt-5">
                <form class="text-center" th:action="@{/member/login_prc}" th:method="post">
                    <h1 class="h3 mb-3 fw-bold">로그인</h1>

                    <div class="form-floating">
                        <input type="text" class="form-control" name="username" id="floatingInput" placeholder="id를 입력하세요"/>
                        <label for="floatingInput">id</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password"/>
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <a class="text-decoration-none" th:href="@{/member/signup}">
                            회원 가입
                        </a>
                    </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
                </form>
            </div>
            <div th:if="${error}" class="text-center mt-5">
                <p class="text-danger" th:text="${message}"></p>
            </div>
        </main>
    </th:block>
</section>
</html>
