<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html">

<head>
    <title>주문 - 결제</title>
    <th:block layout:fragment="csrf">
        <meta name="_csrf" th:content="${_csrf?.token}"/>
        <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
    </th:block>
    <script type="text/javascript">
        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');

        function order() {
            let zipcode = $('#sample6_postcode').val()
            let street = $('#sample6_address').val()
            let city = $('#sample6_extraAddress').val()
            let detailed = $('#sample6_detailAddress').val()

            if (!zipcode) {
                $('#sample6_postcode').focus()
                $("#text_address_validation").removeAttr("hidden","hidden")
                return
            }

            $.ajax({
                type : "POST",
                url : "/order",
                data : JSON.stringify({
                    'zipcode' : zipcode
                    ,'street' :street
                    ,'city' : city
                    ,'detailedAddress' :detailed
                }),
                contentType : 'application/json',
                beforeSend : function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success : function (resonse) {
                    if (resonse === 'no_cart') {
                        alert('장바구니에 담긴 상품이 없습니다.');
                        window.location.href = '/cart';
                    }
                    if (resonse === 'insufficent_stock') {
                        alert('재고가 부족한 주문이 있습니다. 장바구니로 이동합니다.');
                        window.location.href = '/cart';
                    }
                    else {
                        window.location.href = resonse;
                    }
                }
            });
        }
        function calTotalPrice() {
            prices = $("span[data-price]")

            let totalprice = 0

            prices.each(function (index, price) {
                totalprice += parseInt(price.innerText.replace(',', ''))
            })

            return totalprice.toLocaleString('ko-KR')
        }

    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/daumAddress.js"></script>
</head>

<th:block layout:fragment="content">

    <!-- Start Content -->
    <div class="container_custom row py-5">
        <div class="col-md-8 mx-5 ">
            <!--현재 카테고리-->
            <div class="row mb-5">
                <div class="col-md-6">
                    <span class="fs-2 fw-bold">주문 / 결제</span>
                </div>
            </div>
            <hr>
            <!--목록 div-->

            <div class="border_box px-4 pt-4 mb-4 mt-4">
                <div class="row mb-4 px-2">
                    <div class="mb-3 p-0">
                        <span class="h3 fw-normal">배송지 정보</span>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="originAddress" name="addressSelect" class="form-check-input"
                               checked="checked" onchange="search()">
                        <label class="form-check-label" for="originAddress">기본 배송지로 등록 </label>
                        <input type="hidden" id="hiddenAddress" value="서울특별시 화곡로 344번길 50 경동엠파이어 스테이트빌딩">
                    </div>
                    <div class="form-check mb-3">
                        <input type="radio" id="newAddress" name="addressSelect" class="form-check-input"
                               onchange="makeEmpty()">
                        <label class="form-check-label" for="newAddress">신규 배송지로 등록 </label>
                    </div>
                    <form method="post" id="delivery">
                        <div class="form-control-plaintext mb-3" id="address_block">
                            <div class="row mb-2">
                                <div class="col">
                                    <input type="text" class="form-control " id="sample6_postcode" placeholder="우편번호"
                                           name="zipcode" value="" th:value="${memberAddress.zipcode}">
                                </div>
                                <div class="col">
                                    <input type="button" class="btn btn-light" onclick="sample6_execDaumPostcode(1)"
                                           value="우편번호 찾기">
                                </div>
                            </div>
                            <input type="text" class="form-control mb-2" name="street" id="sample6_address"
                                   placeholder="주소" th:value="${memberAddress.street}">
                            <input type="text" name="city" class="form-control mb-2" id="sample6_extraAddress"
                                   placeholder="동"
                                   th:value="${memberAddress.city}">
                            <input type="text" name="detailedAddress" class="form-control " id="sample6_detailAddress"
                                   placeholder="상세주소"
                                   th:value="${memberAddress.detailedAddress}">
                        </div>
                        <div hidden="hidden" id="text_address_validation">
                            <span class="fs-6 text-danger">신규 배송지를 입력하세요.</span>
                        </div>
                    </form>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function search() {
                            const zipcode = /*[[${memberAddress.zipcode}]]*/;
                            const street = /*[[${memberAddress.street}]]*/;
                            const city = /*[[${memberAddress.city}]]*/;
                            const detailed = /*[[${memberAddress.detailedAddress}]]*/;

                            $('#sample6_postcode').val(zipcode)
                            $('#sample6_address').val(street)
                            $('#sample6_extraAddress').val(city)
                            $('#sample6_detailAddress').val(detailed)
                            $("#text_address_validation").attr("hidden","hidden")
                        }

                        /*]]>*/
                        function makeEmpty() {
                            $('#address_block input[type="text"]').val('')
                            $("#text_address_validation").attr("hidden","hidden")
                        }
                    </script>
                </div>
            </div>

            <div class="border_box px-4 pt-4">
                <div class="row mb-4" th:each="item : ${itemList}" th:classappend="${item.stock == 0} ? 'opacity'">
                    <div class="col-md-2 ">
                        <img th:src="|${@environment.getProperty('cloud.aws.s3.url')}${item.fileName}|" class="img_smaller border" alt="...">
                    </div>
                    <div class="col-md-5 m-auto ">
                        <div>
                            <span class="fs-6 fw-normal" th:text="${item.name}">책제목제목제목</span>
                        </div>


                    </div>
                    <div class="col-md-2 m-auto   text-center">
                        <ul class="list-inline ">
                            <li class="list-inline-item"><span class="fs-6" th:text="${item.quantity}">1</span> 권</li>
                        </ul>
                    </div>

                    <div class="col-md-2 m-auto   text-center">
                        <p class="fs-6 fw-bold "><span th:text="${#numbers.formatInteger(item.price * item.quantity,3,'COMMA')}" data-price="1">15000</span>원</p>
                    </div>
                    <div>
                        <hr class="my-0 border-light mt-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 ">
            <div class="shadow-sm mt-5 border p-4">
                <div class="">
                    <div class="row ">
                        <p class="col-md-5 fs-5">총 상품금액</p>
                        <span class="col-md-6  fw-bold text-end" id="preTotalPrice">123123213</span> <span
                            class="col-md-1  px-0" >원</span>
                    </div>
                    <div class="row ">
                        <p class="col-md-5 fs-5">할인 금액</p>
                        <span class="col-md-6  fw-bold text-end">0</span> <span
                            class="col-md-1  px-0">원</span>
                    </div>
                    <div class="mb-3">
                        <hr class="">
                    </div>
                    <div class="row ">
                        <p class="col-md-5 mb-4 fs-5">최종 금액</p>
                        <span class="col-md-6 fw-bold text-end" id="totalPrice">7000</span> <span
                            class="col-md-1  px-0" >원</span>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#preTotalPrice').text(calTotalPrice())
                            $('#totalPrice').text(calTotalPrice())
                        });
                    </script>
                    <div class="">
                        <a class="text-decoration-none">
                            <button class="btn btn-success pe-auto" style="width:100%" onclick="order()">
                                <img src="/img/kakao_small.png" style="width: 60px;margin-right: 10px;">주문하기
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>