<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html">

<head>
    <title>장바구니</title>
    <th:block layout:fragment="csrf">
        <meta name="_csrf" th:content="${_csrf?.token}"/>
        <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
    </th:block>
    <script type="text/javascript">
        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');


        function change_quantity_request(cont_idx, add) {

            let quantityInput = $('#request_quantity' + cont_idx)
            let quantityTag = $('#quantity' + cont_idx)

            const before_quantity = quantityInput.val()
            let request_quantity = parseInt(before_quantity) + parseInt(add)

            if (request_quantity < 1) {
                return
            }

            let spItemId = $('#spItemId' + cont_idx).val()

            let jsonData = {
                "shoppingItemId": spItemId,
                "requestQuantity": request_quantity
            };
            $.ajax({
                type: "PUT",
                url: "/cart",
                contentType: 'application/json',
                dataType: "json",
                data: JSON.stringify(jsonData),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    if (result.result === "success") {
                        if ($('#insufficent' + cont_idx).length > 0) {
                            $('#insufficent' + cont_idx).remove()
                        }
                        quantityInput.val(request_quantity)
                        quantityTag.text(request_quantity)
                        changeSubPrice(cont_idx, request_quantity)
                    } else if (result.result === "out_of_stock") {
                        $('#stockOpacity' + cont_idx).addClass('opacity')
                        $('#outOfStockSign' + cont_idx).removeAttr('hidden')
                        $('#normalSign' + cont_idx).remove()
                    } else if (result.result === "insufficient") {
                        if (!$('#insufficent' + cont_idx).length) {
                            $('#normalSign' + cont_idx).append(getInsufficent(cont_idx, result.itemQuantity))
                        }
                        shake(cont_idx)
                        if (add === -1) {
                            changeSubPrice(cont_idx, request_quantity)
                        }
                    }
                    $('#totalPrice').text(calTotalPrice())
                },
                error: function (e) {
                    alert(e)
                }
            })
        }

        function shake(cont_idx) {
            for (i = 0; i < 2; i++) {
                $('#insufficent' + cont_idx).animate({marginLeft: "5px"}, 40);
                $('#insufficent' + cont_idx).animate({marginLeft: "0px"}, 40);
            }
        }

        function delete_shopping_item(cont_no) {

            let spItemId = $('#spItemId' + cont_no).val()
            let content_div = $('#content')

            $.ajax({
                type: "DELETE",
                url: "/cart",
                contentType: 'application/json',
                dataType: "text",
                data: JSON.stringify({"spItemId": spItemId}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    $('#content' + cont_no).remove()
                    let count_tag = $("#shopping_cart_count")
                    let count = parseInt(count_tag.text()) - 1
                    count_tag.text(count)
                    if (!content_div.children().length) {
                        content_div.html("<span class='fw-normal fs-4 '>장바구니에 담긴 상품이 없습니다.</span>")
                        content_div.addClass('text-center')
                    }
                    $('#totalPrice').text(calTotalPrice())
                },
                error: function (e) {
                    alert(e)
                }
            })
        }

        function readyToOrder() {
            let insufficent_div = $("div[data-insufficent]")
            insufficent_div.each(function (index, insuff) {
                cont_no = insuff.getAttribute('data-insufficent')
                if ($("#request_quantity" + cont_no).val() < $("#stock" + cont_no).text()) {
                    shake(cont_no)
                    return false
                }
            })
            return true
        }

        function getOrderForm () {
            if (readyToOrder()) {
                window.location.href= '/order';
            }
        }

        function getInsufficent(cont_no, stock) {
            return '<div id="insufficent' + cont_no + '" data-insufficent = "' + cont_no + '">' + '<p><span class="fa fa-exclamation-circle text-danger fs-6 mx-1"></span>' +
                '<span class="text-danger fs-6">주문 가능 수량 : </span> ' +
                '<span class="text-danger fs-6" id="stock' + cont_no + '">' + stock + '</span>' +
                '</p>' +
                '</div>'
        }

        function changeSubPrice(cont_no, quantity) {
            let curr_item_price = parseInt($('#price' + cont_no).text().replace(',', ''))
            $('#subprice' + cont_no).text((curr_item_price * parseInt(quantity)).toLocaleString('ko-KR'))
        }

        function calTotalPrice() {
            let prices = $("span[data-price]")

            let totalprice = 0

            prices.each(function (index, price) {
                totalprice += parseInt(price.innerText.replace(',', ''))
            })

            return totalprice.toLocaleString('ko-KR')
        }

    </script>
</head>


<th:block layout:fragment="content">
    <div class="container-fluid row py-5" style="padding-left: 100px !important;padding-right: 50px !important;">
        <div class="col-md-7 mx-5">
            <!--현재 카테고리-->
            <div class="row mb-5">
                <div class="col-md-6">
                    <span class="fs-2 fw-bold">장바구니</span>
                </div>
            </div>
            <hr>

            <form>
                <!--목록 div-->
                <div class="mb-4 text-center" th:if="${itemList.isEmpty()}">
                    <span class="fw-normal fs-4 ">장바구니에 담긴 상품이 없습니다.</span>
                </div>
                <div id="content">
                    <div class="row mb-4" th:each="item : ${itemList}" th:id="|content${itemStat.index}|">
                        <input type="hidden" th:id="|spItemId${itemStat.index}|" th:value="${item.spItemId}">
                        <div class="row">
                            <div class="col-md-10 row pt-2" th:id="|stockOpacity${itemStat.index}|"
                                 th:classappend="${item.stock == 0} ? 'opacity'">
                                <div class="col-md-2 ">
                                    <a th:href="@{/item/{id}(id=${item.id})}">
                                        <img th:src="|${@environment.getProperty('cloud.aws.s3.url')}${item.fileName}|" class="img_small border" alt="...">
                                    </a>
                                </div>
                                <div class="col-md-6 m-auto">
                                    <div>
                                        <a class="text-decoration-none text-dark" href="">
                                            <span class="fs-5 fw-normal" th:text="${item.name}">책제목제목제목</span>
                                        </a>
                                    </div>
                                    <div class="mb-2">
                                        <span class="fs-6 fw-light" th:text="${item.publisher}">출판사출판사</span> -
                                        <span class="fs-6 fw-light" th:text="${item.publicationDate}">2020.03.33</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="fs-6 fw-normal" th:id="|price${itemStat.index}|"
                                              th:text="${#numbers.formatInteger(item.price,3,'COMMA')}">10000</span> 원
                                    </div>
                                </div>
                                <div class="col-md-3 m-auto text-center ">
                                    <div class="m-auto text-center" th:id="|outOfStockSign${itemStat.index}|"
                                         th:if="${item.stock == 0}"
                                         th:hidden="${item.stock != 0}">
                                        <span class="fs-5 ">품절</span>
                                    </div>
                                    <div class="align-self-center" th:id="|normalSign${itemStat.index}|"
                                         th:if="${item.stock != 0}">
                                        <p class="fs-6 fw-normal pt-2 mb-2 me-2">
                                            <span class="text-center " th:id="|subprice${itemStat.index}|" data-price="0"
                                                  th:text="${#numbers.formatInteger(item.price * item.quantity,3,'COMMA')}"
                                            >15000</span>원</p>
                                        <ul class="list-inline ">
                                            <li class="list-inline-item">
                                                <button type="button"
                                                        class="btn border-white btn-sm btn-outline-secondary "
                                                        id="bm-0"
                                                        th:onclick="|change_quantity_request(${itemStat.index},-1)|">-
                                                </button>
                                            </li>
                                            <li class="list-inline-item ">
                                                <span class="fs-6 badge bg-success "
                                                      th:id="'quantity'+${itemStat.index}"
                                                      th:text="${item.quantity}">1
                                                </span>
                                            </li>
                                            <input type="hidden" th:id="'request_quantity'+${itemStat.index}"
                                                   data-quantity='0'
                                                   th:value="${item.quantity}">
                                            <li class="list-inline-item">
                                                <button type="button"
                                                        class="btn border-white btn-sm btn-outline-secondary "
                                                        id="bp-0"
                                                        th:onclick="|change_quantity_request(${itemStat.index},1)|">+
                                                </button>
                                            </li>
                                            <li class="list-inline-item">
                                            </li>
                                        </ul>
                                        <div th:id="|insufficent${itemStat.index}|"
                                             th:if="${item.stock < item.quantity}"
                                             th:data-insufficent="${itemStat.index}"
                                        >
                                            <p>
                                                <span class="fa fa-exclamation-circle text-danger fs-6"></span>
                                                <span class="text-danger fs-6">주문 가능 수량 : </span>
                                                <span class="text-danger fs-6" th:id="|stock${itemStat.index}|"
                                                      th:text="${item.stock}">7</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 m-auto">
                                <button type="button" class="btn btn-light"
                                        th:onclick="|delete_shopping_item(${itemStat.index})|">삭제
                                </button>
                            </div>
                            <div>
                                <hr class="my-0 border-light mt-4">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-3 shadow-sm border mb-lg-5  pt-5 px-sm-4 mt-5 " style="height: 300px;">
            <div class="pt-5">
                <div class="row mb-5">
                    <p class="col-md-7 fs-5">총 상품금액</p>

                    <p class="text-end col-md-5 "><span class="col-md-4  fw-bold" id="totalPrice">10000</span>
                        <span>원</span></p>
                    <script>
                        $(document).ready(function () {
                            $('#totalPrice').text(calTotalPrice())
                        });
                    </script>
                </div>
                <div class="">
                    <a class="text-decoration-none">
                        <button class="btn btn-success pe-auto" style="width:100%" onclick="getOrderForm()"> 주문하기
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>